{% extends "tvmaniacs/base.html" %}
{% block content %}
    <h1>{{ Actor.first_name }} {{ Actor.last_name }}</h1>
    <div>
        <table class="table">
            <tr>
                <td rowspan="2">
                    <div><img src="{{ Actor.pic }}" class="img-thumbnail"></div>
                </td>
                <td>
                    <div>Birth Place: {{ Actor.birth_place }}</div>
                    <br>
                    <div>Birth Date: {{ Actor.birth_date }}</div>
                    <br><br>
                    <div>{{ Actor.bio }}</div>
                    <br>
                </td>
            </tr>
        </table>
    </div>
     <div>
        <table >
            <tr>
                <th>Series:</th>
            </tr>
            {% for s in Actor.series %}
                <tr>
                <td class="row">{{ s.name }}
                </td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}