{% extends "tvmaniacs/base.html" %}
{% block content %}

    <!-- Falta agregar class="search_message" -->
    <div class>
        <h1 id="content_title">Actors</h1>

        <form class = "pull-down  navbar-search" action="{% url 'search' %}" method = "get">
            <div class="input-append">
                <input class="search-query input-medium" id="actor_search_input"  name="search_query" type="text" placeholder="Search..." >
                <button type = "submit "class="btn btn-large" id="actor_search_button" type="button"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
    
    <div>
        {% load pagination_tags %}
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            {% autopaginate Actors page_limit %}
            {% for actor in Actors %}
                <tr>
                    <td>
                        <a href="{% url 'actor_details' imdb_id=actor.imdb_id %}">{{ actor }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% paginate %}
    </div>

{% endblock %}