{% extends "tvmaniacs/base.html" %}
{% block content %}
    <h1 id="content_title">Actors</h1>
    <div>
        {% load pagination_tags %}
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            {% autopaginate Actors page_limit %}
            {% for actor in Actors %}
                <tr>
                    <td>
                        <a href="{% url 'actor_details' imdb_id=actor.imdb_id %}">{{ actor }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% paginate %}
    </div>

{% endblock %}