{% extends "tvmaniacs/base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="pull-left">
                <img src="{{ Actor.pic }}" class="img-thumbnail">
            </div>
            <div class="offset3">
                <h1>{{ Actor.first_name }} {{ Actor.last_name }}</h1>
                <p>Birth Place: {{ Actor.birth_place }}</p>
                <p>Birth Date: {{ Actor.birth_date }}</p>
                <br>
                <p>{{ Actor.bio }}</p>
            </div>
        </div>
        <div class="row-after">
            <div>
                <h4>Series</h4>
                {% for s in Series %}
                    <p><a href="{% url 'series_details' imdb_id=s.imdb_id %}">{{ s }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}