<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TvManiacs</title>
    <meta name="description" content="">
    <meta name="author" content="Grupo2 Arquitectura de Sistemas de Software">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">TvManiacs</a>
            <ul class="nav">
                <li><a href="{% url 'actors' %}">Actors</a></li>
                <li><a href="{% url 'series' %}">Series</a></li>
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="{% url 'home' %}">Home</a></li>#}
{#                    </ul>#}
{#                </li>#}

            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}
        Empty page
    {% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6 offset6" style="text-align:right">
            <p>
                &copy; Grupo2 2013
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>