{% extends "tvmaniacs/base.html" %}
{% block content %}
    <h1><a href="{% url 'series_details' imdb_id=Series.imdb_id %}">{{ Series.name }}</a>: Season {{ Season.number }}
    </h1>
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>User Rating</th>
                <th>Description</th>
            </tr>
            {% for c in Season.chapters %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.user_rating }}</td>
                    <td>{{ c.desc }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}