{% extends "tvmaniacs/base.html" %}
{% block title %}
    <title>Series - TvManiacs</title>
{% endblock %}
{% block content %}
    {% if search_message %}
        <div class = "search_message">
            <h5>{{ search_message }}</h5>
        </div>
    {% endif %}

    <div class>
        <h1 id="content_title">Series</h1>

        <form id="series-search-form" class = "pull-down  navbar-search" action="{% url 'series' %}" method = "get">
            <div class="input-append">
                <input id="form-sort-hidden" type="hidden" name="sort" value="name">
                <input class="search-query input-medium" id="series_search_input"  name="search_query" type="text" placeholder="Search..." >
                <button type = "submit "class="btn btn-large" id="series_search_button" type="button"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
    
    <div>
        {% load pagination_tags %}
        <table class="table">
            <tr>
                <th><a id='order-by-name' href="?sort=name">Name</a></th>
                <th><a id='order-by-user-rating' href="?sort=rating">User Rating</a></th>
                <th>Description</th>
            </tr>

            {% autopaginate Series page_limit %}
            {% for series in Series %}
                <tr>
                    <td>
                        <a href="{% url 'series_details' imdb_id=series.imdb_id %}">{{ series.name }}</a>

                        <p>{{ series.timespan }}</p>
                    </td>
                    <td>{{ series.user_rating }}</td>
                    <td>{{ series.get_description | safe}}</td>
                </tr>
            {% endfor %}
        </table>
        {% paginate %}
    </div>

{% endblock %}