{% extends "tvmaniacs/base.html" %}
{% block content %}
     <div class="container-fluid">
        <div class="row-fluid">
            <div class="pull-left">
                <img src="{{ Series.pic }}" class="img-thumbnail">
            </div>
            <div class="offset3">
                <h1>{{ Series.name }}</h1><h6>({{ Series.year_start }} - {{ Series.year_end }})</h6>
                <br>
                <p>User Rating: <b>{{ Series.user_rating }}</b></p>
                <p>{{ Series.description }}</p>
                <br>
                <div class="genres">
                {% for g in Series.genres %}
                    <p>{{ g }}</p>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row-after">
            <div>
                <h4>Seasons</h4>
                <p>
                {% for s in Series.seasons %}
{#                    <a href="{% url 'episodes'  season=s.number  imdb_id=Series.imdb_id%}">{{ s.number }}</a>&nbsp&nbsp&nbsp#}
                     <a href="{% url 'home' %}">{{ s.number }}</a>&nbsp&nbsp&nbsp
                {% endfor %}
                </p>
            </div>
            <div>
                <h4>Cast</h4>
                {% for a in Actors %}
                    <p><a href="{% url 'actor_details' imdb_id=a.imdb_id %}">{{ a }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}