{% extends "tvmaniacs/base.html" %}
{% block content %}
    <h1>Series</h1>
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>User Rating</th>
                <th>Description</th>
            </tr>
            {% for series in Series %}
                <tr>
                    <td><a href="{% url 'series_details' id=series.id %}">{{ series.name }}</a> ({{ series.year_start }})</td>
                    <td>{{ series.user_rating }}</td>
                    <td>{{ series.description }}</td>
                 </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}