{% extends "tvmaniacs/base.html" %}
{% block content %}
    <h1 id="content_title">Series</h1>
    <div>
        {% load pagination_tags %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>User Rating</th>
                <th>Description</th>
            </tr>

            {% autopaginate Series page_limit %}
            {% for series in Series %}
                <tr>
                    <td>
                        <a href="{% url 'series_details' imdb_id=series.imdb_id %}">{{ series.name }}</a>

                        <p>{{ series.timespan }}</p>
                    </td>
                    <td>{{ series.user_rating }}</td>
                    <td>{{ series.description | safe}}</td>
                </tr>
            {% endfor %}
        </table>
        {% paginate %}
    </div>

{% endblock %}